body {
  font-family: 'Lato';
}

h1{
  text-transform: uppercase;
  text-align: center;
}

span.title-highlight {
  color: #f86125;
}

input {
  display:block;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: solid thin black;
  width: 100px;
  font-size: 24px;
  font-family: 'Lato';
  text-align: center;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}